.dialog {
  width: 100%;
  height: 100vh;

  max-width: initial;
  max-height: initial;
  border: none;

  background-color: #101416cc;
  padding: 4vw;
}

.iframe {
  width: 100%;
  height: calc(100% - 4px); // 4px - странный сдвиг у контента drawio
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

// виджет рендериться внутри редактора, поэтому в нем доступны cssv редактора, для цветов использовать их
.widget {
  width: 100%;
  border-radius: 8px;
  padding: var(--drawio-widget-pd, 0);
  box-shadow: inset 0 0 0 1px var(--drwaio-widget-bdc);
  background-color: var(--drwaio-widget-bgc);

  // &_editable:hover {
  //   --drwaio-widget-bdc: var(--drwaio-widget-accented-bdc);
  // }

  &_normal {
    --drwaio-widget-bgc: var(--editor-bgc);
    --drwaio-widget-bdc: var(--editor-bdc);
    --drwaio-widget-accented-bdc: var(--editor-primary);
  }

  &_warn {
    --drwaio-widget-bgc: var(--editor-highlight-warning-bgc);
    --drwaio-widget-bdc: var(--editor-warning-bdc);
    --drwaio-widget-accented-bdc: var(--editor-warning-bdc);
  }

  &_error {
    --drwaio-widget-bgc: var(--editor-highlight-error-bgc);
    --drwaio-widget-bdc: var(--editor-error-bdc);
    --drwaio-widget-accented-bdc: var(--editor-error-bdc);
  }
}

.image {
  object-fit: contain;
}

.badge {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: 'SB Sans Text', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--editor-c);

  & > span {
    display: block;
    width: 100%;
  }
}
