.toctainer {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--editor-bdc);
}

.toctitle {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 8px;

  color: var(--eds-fore-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.tocmessage {
  display: block;
  width: 100%;
  padding: 8px;

  color: var(--eds-fore-tertiary);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.list {
  list-style-type: none;
  padding: 0 !important;
}

$levelOffset: 24px;

.listItem {
  max-width: 100%;
  width: fit-content;
  height: 32px;
  padding: 8px;

  color: var(--eds-fore-primary);
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @each $level in (0, 1, 2, 3, 4, 5) {
    &_#{'level' + $level} {
      padding-left: calc(#{$levelOffset} * #{$level} + 8px);
    }
  }
}
