@use 'sass:map';

$marginY: (
  'h1': (
    'top': 8px,
    'bottom': 16px,
  ),
  'h2': (
    'top': 8px,
    'bottom': 16px,
  ),
  'h3': (
    'top': 8px,
    'bottom': 12px,
  ),
  'h4': (
    'top': 8px,
    'bottom': 12px,
  ),
  'h5': (
    'top': 8px,
    'bottom': 8px,
  ),
  'h6': (
    'top': 8px,
    'bottom': 8px,
  ),
);

$popupShift: 8px;
$triggerWidth: 32px;

$headingAligns: (
  'center': (
    'justify': 'center',
    'direction': 'row',
  ),
  'left': (
    'justify': 'flex-start',
    'direction': 'row',
  ),
  'right': (
    'justify': 'flex-end',
    'direction': 'row',
  ),
  'justify': (
    'justify': 'flex-start',
    'direction': 'row',
  ),
);

.heading {
  position: relative;
  max-width: 100%;
  width: 100%;

  display: flex;
  align-items: flex-start;

  margin-top: var(--custom-heading-mt, 0);
  margin-bottom: var(--custom-heading-mb, 0);

  scroll-margin-top: 104px;
  scroll-margin-bottom: 104px;

  @each $textAlign, $textValues in $headingAligns {
    &_#{'' + $textAlign} {
      justify-content: #{map.get($textValues, 'justify')};
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    cursor: text;
    flex: 0 0 auto;
    max-width: calc(100% - $triggerWidth);
    margin: 0 !important;
  }

  &:hover {
    --action-button-visibility: 1;
  }

  @each $level, $pd in $marginY {
    &_#{'' + $level} {
      --custom-heading-mt: #{map.get($marginY, $level, 'top')};
      --custom-heading-mb: #{map.get($marginY, $level, 'bottom')};
    }
  }
}

.copylink {
  cursor: pointer;
  opacity: var(--action-button-visibility, 0);
  flex: 0 0 auto;

  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;

  width: $triggerWidth;
  height: 24px;
  color: var(--eds-fore-tertiary);

  &:hover {
    color: var(--eds-fore-accent-h);
  }

  &:active {
    color: var(--eds-fore-accent-a);
  }
}
