@use '../CssButton/cssButton' as button;

.button {
  @include button.button;

  text-decoration: none;
  position: relative;
  flex-shrink: 1;
  width: calc(100% - 32px);

  // &_routerActive {
  //   color: var(--theme-primary-500);
  // }

  // &_actioned {
  //   width: calc(100% - 64px);
  // }

  &_active {
    color: var(--theme-primary-500);

    &:hover {
      color: var(--theme-primary-500);
    }

    &:active {
      color: var(--theme-primary-500);
    }
  }

  // &_disabled {
  //   cursor: not-allowed;
  //   opacity: 0.5;

  //   &:hover,
  //   &:active {
  //     --hchy-btn-c: var(--eds-fore-primary);
  //   }
  // }

  .captionContainer {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .caption {
    display: block;
    padding: 8px 4px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    font-family: inherit;
  }

  .lengthRef {
    display: block;
    white-space: nowrap;
    visibility: hidden;
    width: fit-content;
    height: 0;
    padding: 0 8px;
    font-family: inherit;
  }
}

// .hint {
//   --dd-bdw: 0;
//   --dd-scrl-pd: 0;
//   --dd-bdrs: 8px 8px 8px 2px;

//   --dd-bgc: var(--hchy-hint-dd-bgc);
//   --dd-bdc: var(--hchy-hint-dd-bdc);
//   --dd-drop-sh: var(--hchy-hint-dd-drop-sh);

//   .content {
//     display: block;
//     min-height: 16px;
//     font-size: 14px;
//     line-height: 16px;
//     font-weight: 300;
//     color: var(--hchy-hint-dd-c);
//   }
// }
