.dropableVars {
  --dd-pd: 4px;
  --dd-bdw: 0px;
  --dd-scrl-pd: 0;
  --dd-bdrs: 8px;

  --dd-bgc: var(--editor-dropdown-bgc);
  --dd-bdc: var(--editor-dropdown-bdc);
  --dd-drop-sh: var(--editor-dropdown-drop-sh);
}

.scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;

  &::-webkit-scrollbar {
    width: 4px;

    &-thumb {
      border-radius: 2px;
      background-color: var(--editor-scroll-thumb);
    }

    &-track {
      border-radius: 2px;
      background-color: var(--editor-scroll-track);
    }
  }

  &:hover::-webkit-scrollbar {
    &-thumb {
      border-radius: 2px;
      background-color: var(--editor-scroll-thumb-h);
    }

    &-track {
      background-color: var(--editor-scroll-track-h);
    }
  }
}

.inserts {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  padding: 4px;
}
