.table {
  width: 100%;

  background-color: var(--editor-bgc) !important;
  border: 1px solid var(--editor-bdc) !important;
  border-radius: 8px;

  :global {
    .tabulator-table {
      color: var(--editor-c) !important;
    }

    .tabulator-header {
      background-color: var(--editor-highlight-bgc) !important;
      border-bottom: 1px solid var(--editor-bdc) !important;
      color: var(--editor-c) !important;
    }

    .tabulator-col {
      background: var(--editor-highlight-bgc) !important;
      border-right: 1px solid var(--editor-bdc) !important;
    }

    .tabulator-col-content {
      min-height: 40px;
      padding: 8px !important;
    }

    .tabulator-row {
      background-color: var(--tabulator-row-custom-bgc) !important;
      min-height: 40px;
      border-bottom: 1px solid var(--editor-bdc);

      &:last-child {
        border-bottom: none;
      }
    }

    .tabulator-cell {
      padding: 8px !important;
      border-right: 1px solid var(--editor-bdc) !important;
      min-height: inherit;

      & * {
        white-space: normal;
        overflow-wrap: break-word;
        // margin: 0 !important;
      }

      // хак для картинок в таблице
      *:has(> img:only-child) {
        min-height: 200px;

        & > img {
          width: 100%;
          max-width: 320px;

          object-fit: contain;
        }
      }
    }

    .tabulator-col-title {
      & > * {
        margin: 0;
      }
    }

    .tabulator-tableholder {
      overflow-y: hidden !important;
      overflow-x: auto !important;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;

        &-thumb {
          cursor: pointer;

          border-radius: 2px;
          background-color: var(--editor-scroll-thumb);

          &:hover {
            background-color: var(--editor-scroll-thumb-h);
          }
        }

        &-track {
          border-radius: 2px;
          background-color: var(--editor-bdc);
          margin: 0 8px;
        }
      }
    }
  }
}

.summaryRow {
  --tabulator-row-custom-bgc: var(--eds-bgc-primary) !important;
}
