.column {
  --blocksgrid-column-pd: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  height: 100%;

  padding: var(--blocksgrid-column-pd);
  padding-left: 0;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px var(--blocksgrid-column-bdc, var(--editor-bdc));

  width: calc(100% - 8px);
  margin: 0 4px;

  &:first-child {
    width: calc(100% - 4px);
    margin-left: 0;
  }

  &:last-child {
    width: calc(100% - 4px);
    margin-right: 0;
  }

  &:hover {
    --blocksgrid-toolbar-visibility: var(--blocksgrid-toolbar-opacity);
    --blocksgrid-toolbar-offset: -48px;
  }
}

.content {
  width: 100%;
  height: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  padding-left: var(--blocksgrid-column-pd);
  padding-bottom: 4px;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;

    &-thumb {
      cursor: pointer;

      background-color: var(--editor-scroll-thumb);
      width: 4px;
      border-radius: 2px;

      &:hover {
        background-color: var(--editor-scroll-thumb-h);
      }
    }

    &-track {
      background-color: var(--editor-scroll-track);
      margin-left: var(--blocksgrid-column-pd);

      &:hover {
        background-color: var(--editor-scroll-track-h);
      }
    }
  }
}
