.hsl-colors {
  --color-electroviolet: hsl(263, 100%, 59%); // electroviolet 500: #7E2FFF,
  --color-phlox: hsl(299, 86%, 39%); // phlox 500: #b40eb7,
  --color-awesome: hsl(346, 96%, 56%); // awesome 500: #fb2558,
  --color-danger: hsl(4, 100%, 46%); // danger 500: #ec0e00,
  --color-orange: hsl(18, 100%, 54%); // orange 500: #ff5b14,
  --color-ultra: hsl(223, 86%, 57%); // ultra 500: #3569f0,
  --color-nika: hsl(86, 81%, 38%); // nika 500: #6aaf12,
  --color-malachite: hsl(143, 71%, 44%); // malachite 500: #21C05F,
  --color-aquamarina: hsl(180, 92%, 44%); // aquamarina 500: #09d7d7,
  --color-yellamerica: hsl(47, 97%, 47%); // yellamerica 500: #edba04,
}
