@mixin simpleText {
  font-family: 'SB Sans Text', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin chipAddButtonCssv {
  --btn_pm-s_bgc: #ffffff;
  --btn_pm-s_bgc-h: #ffffff;
  --btn_pm-s_bgc-a: #2969e3;
  --btn_pm-s_bgc-p: #ffffff;
  --btn_pm-s_bgc-ss: #ffffff;
  --btn_pm-s_bgc-er: #ffffff;
  --btn_pm-s_bgc-l: #ffffff;
  --btn_pm-s_bgc-db: #ffffff;

  --btn-mh: 32px !important;
  --btn-pd: 0 !important;
  --btn-bdrs-ro: 6px !important;
  --btn-bd-sh: inset 0 0 0 1px var(--editor-bdc);
}

.chip {
  display: flex;
  align-items: center;
  padding: 0 4px;
  border-radius: 6px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--editor-highlight-bgc, #f1f1f0);
  box-shadow: inset 0 0 0 1px var(--editor-bdc);

  .label,
  .filterType {
    @include simpleText;

    display: block;
    flex-shrink: 0;
    color: var(--editor-c);
    padding: 0 8px;
  }

  .label {
    font-weight: 600;
  }

  .filterType {
    color: var(--editor-disabled);
  }

  .applied {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    padding: 0 8px;
  }

  .chipSelector {
    display: flex;
    gap: 4px;
    flex-shrink: 0;
    height: fit-content;
  }
}

.chipAdd {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;

  box-shadow: inset 0 0 0 1px var(--editor-bdc);
  border-radius: 6px;

  background-color: var(--editor-highlight-bgc);

  .titled {
    display: flex;
    align-items: center;
    gap: 8px;

    &:first-child {
      padding-left: 8px;
    }

    & > span {
      @include simpleText;

      color: var(--editor-c);
      display: block;
    }
  }
}

.chipBadge {
  @include simpleText;

  display: flex;
  align-items: center;
  background-color: var(--editor-bgc);
  box-shadow: inset 0 0 0 1px var(--editor-bdc);
  border-radius: 6px;
  padding-left: 8px;
  height: 32px;
  flex-shrink: 0;
  color: var(--editor-c);

  .removeFilterBtn {
    flex-shrink: 0;
    outline: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;

    cursor: pointer;
    color: var(--editor-c);

    &:hover {
      color: var(--editor-primary);
    }

    &:active {
      color: var(--editor-c);
    }
  }
}

.addChipButton {
  @include chipAddButtonCssv;

  --btn-mw: 32px !important;
}

.dropableTrigger {
  @include chipAddButtonCssv;

  --btn-pd: 0 0 0 4px !important;
  --btn-mw: 200 !important;
}

.dropable {
  --dropable-content-pd: 8px 0;
}

.targetValueInput {
  @include simpleText;

  border: 1px solid var(--editor-bdc);
  background-color: var(--editor-bgc);

  border-radius: 6px;
  padding: 7px 8px;
  margin: 0;
  outline: none;

  color: var(--editor-c);

  &:hover {
    border: 1px solid var(--editor-primary);
  }

  &:focus {
    border: 1px solid var(--editor-primary);
  }
}
