@use 'sass:map';

.toctainer {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--editor-bdc);

  &:hover {
    --tocbar-opacity: 1;
    --tocbar-visible-w: fit-content;
  }
}

.tochead {
  display: flex;
  width: 100%;
  gap: 16px;
}

.tocTitleInput {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  width: 100%;
  padding: 8px;

  color: var(--theme-texts-base);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  outline: none;
  background-color: transparent;
  border: none;
}

.tocbar {
  flex: 0 0 auto;

  display: flex;
  align-items: center;
  gap: 8px;

  width: var(--tocbar-visible-w, 0);
  opacity: var(--tocbar-opacity, 0);
  overflow: hidden;
}

.toclist {
  list-style-type: none;
  padding: 0 !important;
}

$levelOffset: 24px;
$levelHeight: 24px;
$tocLevels: (
  0: (
    'fz': 14px,
  ),
  1: (
    'fz': 14px,
  ),
  2: (
    'fz': 12px,
  ),
  3: (
    'fz': 11px,
  ),
  4: (
    'fz': 10px,
  ),
  5: (
    'fz': 9px,
  ),
);

@keyframes tocItemAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tocitem {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;

  display: flex;
  gap: 8px;

  max-width: 100%;
  width: fit-content;
  height: $levelHeight;

  animation: tocItemAppear 200ms ease;

  transition:
    padding-left 200ms ease,
    opacity 200ms ease;

  &_invisible {
    opacity: 0;
  }

  @each $level, $levelVars in $tocLevels {
    &_#{'level' + $level} {
      font-size: #{map.get($levelVars, 'fz')};
      padding-left: calc(#{$levelOffset} * #{$level} + 8px);
    }
  }

  .tocitemCaption {
    display: block;
    max-width: calc(100% - 32px);
    flex: 1 1 auto;
    padding: 4px;

    color: var(--theme-texts-base);
    line-height: 16px;
    font-weight: 400;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: var(--theme-primary-400);
    }

    &:active {
      color: var(--theme-primary-600);
    }
  }

  .tocitemAction {
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  &:hover {
    .tocitemAction {
      opacity: 1;
    }
  }
}

.carretLeft {
  & > svg {
    transition: transform 200ms ease;
    transform: rotate(90deg) !important;
  }

  &_collapsed {
    & > svg {
      transform: rotate(0) !important;
    }
  }
}
