@use '../../../../../styleTokens/tokens.scss' as tokens;

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dialog {
  @include tokens.edsCssv;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  max-width: initial;
  max-height: initial;
  border: none;

  background-color: #101416cc;
  padding: 4vw;

  animation: appear 200ms ease;
  z-index: 1650;
}

.viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.block {
  display: flex;
  align-items: center;
  gap: 8px;

  * {
    user-select: none;
  }
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  min-width: 96px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--eds-bdc-intence);

  font-family: 'SB Sans Text', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--eds-fore-primary);
}

.title {
  display: block;
  font-family: 'SB Sans Text', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.88px;
  margin-right: 16px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-shrink: 0;

  width: 100%;
  padding: 16px;
  border-bottom: 1px solid var(--eds-bdc-intence);
}

.image {
  cursor: grab;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  width: 100%;
  padding: 16px;

  & > img {
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: translate(var(--drawio-viewer-offset-x, 0), var(--drawio-viewer-offset-y, 0))
      scale(var(--drawio-viewer-scale, 1));
  }
}
