:root::-webkit-scrollbar {
  width: 4px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: var(--scrollbar-track, white);
}

:root::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb, blue);
  border-radius: 4px;
}

*,
*::after,
*::before {
  /* font-family: system-ui-rounded, ui-rounded, 'SF Pro Rounded', 'SanFrancisco', 'Roboto', sans-serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  font-family: system-ui-rounded, ui-rounded, 'SF Pro Rounded', 'SanFrancisco', 'Roboto', sans-serif;
  outline: none;
  border: none;
}

textarea {
  font-family: system-ui-rounded, ui-rounded, 'SF Pro Rounded', 'SanFrancisco', 'Roboto', sans-serif;
  outline: none;
  border: none;
}
