:root::-webkit-scrollbar {
  width: 4px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: var(--scrollbar-track, white);
}

:root::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb, blue);
  border-radius: 4px;
}

html {
  --layout-pd: 24px;

  /* @media (min-width: 1920px) {
    --layout-pd: 48px;
    } */

  /* @media (min-width: 2560px) {
      --layout-pd: 48px;
      } */

  font-family: system-ui-rounded, ui-rounded, 'SF Pro Rounded', 'SanFrancisco', 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: system-ui-rounded, ui-rounded, 'SF Pro Rounded', 'SanFrancisco', 'Roboto', sans-serif;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
textarea {
  font-family: system-ui-rounded, ui-rounded, 'SF Pro Rounded', 'SanFrancisco', 'Roboto', sans-serif;
  outline: none;
  border: none;
}
