@use './transitions' as transitions;

.overlayTransition {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  z-index: var(--dwr-z, 1300);

  @include transitions.overlayTransitions;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dwr-overlay-bgc, rgba(255, 255, 255, 0.4));
    z-index: -1;
    backdrop-filter: var(--drw-overlay-backdrop-filter, none);

    &_noPointerEvents {
      pointer-events: none;
    }
  }
}

.content {
  position: fixed;
  top: 0;
  width: var(--dwr-opened-w, 420px);
  height: 100vh;
  min-height: 100vh;
  background: var(--dwr-ct-bgc, transparent);
  z-index: var(--dwr-z, 1300);
  filter: drop-shadow(var(--drw-sh, 0px 0px 6px rgba(0, 0, 0, 0.4)));

  transition: var(--dwr-animation-time, 0.2s) var(--dwr-animation-method, ease);
  overflow: hidden;
  color: var(--drw-ct-gn, black);

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }

  &_closed {
    width: var(--dwr-closed-w, 0px);
  }
}
