@mixin edsCssv {
  // Основной цвет для заголовков, а также иконок и текста в компонентах
  --eds-fore-primary: #101416;
  // Второстепенный цвет для иконок и текста в компонентах. Иногда для неактивных элементов
  --eds-fore-secondary: #7b7e7f;
  // Цвет иконок и текста для неактивных элементов в компонентах
  --eds-fore-tertiary: #bdbebf;
  --eds-fore-white: #ffffff;

  // Выделение интерактивных иконок, ссылок, текста в компонентах
  --eds-fore-accent: #1549ab;
  // Реакция при наведении на интерактивные иконоки, ссылки, текст в компонентах
  --eds-fore-accent-h: #2969e3;
  //Реакция при нажатии на интерактивные иконоки, ссылки, текст в компонентах
  --eds-fore-accent-a: #0c327a;

  // Цвет посещенной ссылки
  --eds-fore-visited: #ad42f5;
  // Реакция уже посещенной ссылки на наведение
  --eds-fore-visited-h: #b559f3;
  // Нажатие посещенной ссылки
  --eds-fore-visited-a: #a139e5;

  --eds-fore-positive: #108e26;
  --eds-fore-warning: #e85702;
  --eds-fore-negative: #e31227;

  // MONO BG
  // Цвет фона для карточек или заливки полей ввода, чекбоксов и похожих элементов
  --eds-bgc-base: #ffffff;
  // Варианты фона для карточек
  --eds-bgc-primary: #f2f5f8;
  --eds-bgc-secondary: #e8eef2;
  --eds-bgc-tertiary: #d5dfe6;

  // Фон акцентной кнопки
  --eds-bgc-accent: #2969e3;
  --eds-bgc-accent-56: #87abef; // #2969E38E
  --eds-bgc-accent-h: #2a72f8;
  --eds-bgc-accent-a: #1549ab;

  // Вариант фона для бейджа с положительным посылом
  --eds-bgc-positive: #45e362;
  // Вариант фона для бейджа, предупреждающий
  --eds-bgc-warning: #ffb38a;

  // Фон кнопки с опасным действием
  --eds-bgc-negative: #e31227;
  --eds-bgc-negative-h: #e31227;
  --eds-bgc-negative-a: #9c1422;

  // Вариант фона для маркера, информационный
  --eds-bgc-info: #cfecff;
  // Фон для выделения текста
  --eds-bgc-highlight: #ffe785;

  // SURFACES BG
  // Варианты фона c прозрачностью (surface в названии ипеременной)
  --eds-bgc-surface-primary: #060a0c05;

  // Заливка второстепенной кнопки и других похожих компонентов
  --eds-bgc-surface-secondary: #060a0c0f;
  --eds-bgc-surface-secondary-h: #2a72f81e;
  --eds-bgc-surface-secondary-a: #3f81fd33;

  // Заливка второстепенной кнопки и других похожих компонентов
  --eds-bgc-solid-surface-secondary: #f0f0f0;
  --eds-bgc-solid-surface-secondary-h: #e5eefe;
  --eds-bgc-solid-surface-secondary-a: #d9e6ff;

  // Заливка неактивной радио-кнопки
  --eds-bgc-surface-tertiary: #060a0c1e;

  // Заливка кнопки без фона
  --eds-bgc-surface-clear: transparent;
  --eds-bgc-surface-clear-h: #2a72f81e;
  --eds-bgc-surface-clear-a: #3f81fd33;

  // Фон поля для ввода или текстового сообщения с ошибкой
  --eds-bgc-surface-negative: #e3122711;
  --eds-bgc-surface-negative-h: #e312271e;
  --eds-bgc-surface-negative-a: #e3122733;

  --eds-bgc-solid-surface-negative: #fdf1f2;
  --eds-bgc-solid-surface-negative-h: #fce3e5;
  --eds-bgc-solid-surface-negative-a: #f9d0d4;

  // Цвет фона информационной карточки для отображения состояния объекта на странице
  --eds-bgc-card-info: #edf8ff;
  --eds-bgc-card-success: #e0ffe9;
  --eds-bgc-card-warning: #fff5f0;
  --eds-bgc-card-error: #fff5f6;

  // Borders
  --eds-bdc-base: #f0f0f0; // #060A0C0F
  --eds-bdc-intence: #e1e2e2; //#060A0C1E
  --eds-bdc-accent: #2969e3;
  --eds-bdc-accent-h: #87abef; // #2969E38E
  --eds-bdc-accent-a: #1549ab;
}
